.main_content {
  padding: 64px;
  cursor: default;
}

.node_table {
  width: 100%;
  display: flex;
  height: 800px;
}

.node_table > div {
  border: 1px solid black;
  padding: 10px;
  overflow-y: scroll;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.status_circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.selectedRow {
  background-color: lightgrey;
}

.copy_email {
  color: #1e90ff; /* ярко-синий */
  cursor: pointer;
}

.copy_email:hover {
  color: #0b61d8;
}

.first_col {
}

.general_info {
  margin-bottom: 20px;
  font-size: 24px;
}

.group_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.group_item {
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 32px;
  border: 1px solid grey;
  padding: 6px;
}

.group_item:hover {
  background-color: lightgrey;
  transition: ease-in-out 0.3s;
}

.second_col {
}

.second_col_title {
  text-align: center;
}

.node_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.node_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid grey;
  cursor: pointer;
}

.node_item:hover {
  background-color: lightgrey;
  transition: ease-in-out 0.3s;
}

.node_characteristics span {
  display: block;
}

.third_col {
}

.node_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.interface_info {
  display: flex;
  align-items: center;
  gap: 10px;
}
